p Your PTE Updates and feedback
p Hi #{name},




table
  thead
    th
      td Skills
      td Current Points
      td Notes
      td Goal Points
    each val in migrationData
      tr 
        td #{val.current}
p
  b Feedback:
  p #{feedback}

<p><b>website  :</b> www.racc.net.au</p>
<p><b>facebook:</b> racc australia<p>
<p><b>address:</b> 343 Little Collins Street, Melbourne</p>
<ul>
  <li>Job vacancy</li>
  <li>Intership Opportunity</li>
  <li>Migration update</li>
  <li>Scholarship offer</li>
  <li>Upcoming events such as:</li>
    <ul>
      <li>IELTS Free Trial Test</li>
      <li>Free PTE Preparation Class</li>
      <li>Migration Seminar</li>
      <li>Career Fair</li>
    </ul>
</ul>






p Regards,




p #{displayName}
